VOLUME_DB=./volume/db
DB_USER=store
DB_PASSWORD=devpass
DB_NAME=store
CORS_ALLOWED_ORIGINS=http://localhost,http://localhost:80
CORS_ALLOWED_CREDENTIALS=true
SETUP=./setup
EXCHANGE_PROVIDER_URL=https://economia.awesomeapi.com.br/json/last/{from_currency}-{to_currency}
EXCHANGE_CACHE_TTL_SECONDS=60
EXCHANGE_REQUEST_TIMEOUT_SECONDS=5
